<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/css/style.css' %}">
</head>
<body>
    <section class="profile-container">
        <div class="profile-card">
            <h2>Welcome, {{ user.username }}!</h2>
            <a href="{% url 'index' %}" class="button">Go to Hotels</a>
        </div>
    </section>
</body>
</html>