<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bookings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking/css/main.css' %}">
</head>
<body>
    <div class="success-container">
        <h2>Ви успішно забронювали кімнату!</h2>
        <p>Дякуємо за вибір нашого сервісу. Ми чекаємо на ваш візит!</p>
        <a href="{% url 'index' %}" class="back-home-btn">На головну</a>
    </div>
</body>
</html>